.foundItemsWrap ul {
    list-style: none;
}

.itemsListing {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border: 1px solid gray;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.itemsListing img {
    height: 100px;
}

.itemsListing .gameClass {
    border: 1px solid red;
}

.itemsListing .movieClass {
    border: 1px solid green;
}

.itemsListing .infoWrap {

}